<h1 class="text-2xl font-bold">Listado de Productos</h1>
<h3 class="text-lg">Total de productos

  <span class="text-accent">{{products().length}}</span>
</h3>

<div class="divider"></div>

<div class="flex gap-2 items-center h-20">
  <app-pagination [pages]="page()" [currentPage]="paginationService.currentPage()"/>


  <select class="select select-bordered w-32"
  (change)="productPerPage.set(+selectPerPage.value)"
  #selectPerPage
  >
  <!--+ para convertir el string en un numero -->
  <option value="10">10</option>
  <option value="20">20</option>
  <option value="50">50</option>
  <option value="100">100</option>

  </select>

  <div class="flex flex-1/2"></div>

  <button class="btn btn-primary"
  routerLink="/admin/products/new">
  Nuevo Producto
  </button>
</div>
<!--Listado -->

<product-table  [products]="products()"/>
